<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  <title><%= tittle %></title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs'); %>

    <div class="container">
      <h1>This is about Page</h1>
      <a href="/download">Download File</a>
    </div>

    <%- include('../partials/footer.ejs'); %>
    </body>
</html>