<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs'); %>

   <div class="container">
    <h1>This is home Page</h1>
   </div>

    <%- include('../partials/footer.ejs'); %>
  
</html>